.cardImage{

    padding-top: 66%;
    margin-top: 1rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}

.cardName{

    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f9e4b7;
    text-align: center;
   

}